body {
  margin: 0;
  background-color: rgb(240, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  text-decoration: none;
  color: black;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  height: 540px;
  width: 520px;
  box-shadow: 0px 0px 0px 14px #041636 inset;
}

.information {
  /* position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100; */
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.header {
  padding-left: 80px;
  position: fixed;
  background-color: #1d4289;
  z-index: 10;
  min-height: 50px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: Dyno Sans, sans-serif !important;
}

.footer {
  margin-top: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1d4289;
  height: 100px;
  color: white;
  font-weight: bold;
  font-family: Dyno Sans, sans-serif !important;
}

.nbaContainer {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games {
  padding-top: 140px;
}

.backgroundGame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameContainer {
  border-radius: 10px;
  display: flex;
  background-color: white;
  width: 90%;
  margin-bottom: 10px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.gameContainer:hover {
  background-color: rgb(238, 234, 234);
  opacity: 0.8;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
}

.reactIcons {
  height: 14px;
  width: 14px;
}

.logoContainer {
  height: 24px;
  width: 24px;
  padding: 8px;
}
.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

button {
  padding: 8px;
  cursor: pointer;
}

.teamContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding-left: 40px;
}

.awayTeam {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.homeTeam {
  display: flex;
  align-items: center;
  width: 45%;
}

.scoreTable {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.statsName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.homeStats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.awayStats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.firstStatLine {
  margin-bottom: 20px;
}
.padFix {
  margin-top: -16px;
}
.line {
  margin-bottom: 20px;
}

.modalLogo {
  height: 48px;
  width: 48px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
}
